<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UC Irvine Admissions Calculator</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/calculator/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/calculator/css/scrolling-nav.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet">

</head>

<body id="page-top">
    <section id="title-page">
        <div class="container text-center">
            <h1>University of California, Irvine</h1>
            <p style="color:aliceblue">Admissions Calculator</p>
            <p style="color:aliceblue" class="lead">A visual analysis of your chances of being accepted to the <a href="https://www.usnews.com/best-colleges/uc-irvine-1314" id="us-news-link" style="font-size: 20px; text-decoration: underline; color: aliceblue"> #9 public university </a>in the nation.</p>
            <a href="#form-page" class="nav-link btn btn-info" role="button" id="start-button">Let's zot.</a>
        </div>
    </section>

    <section id="form-page">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    Enter Your Statistics
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class = "container-fluid" id="applicant-form">
                              <div class="panel panel-default">
                                    <div class = "panel-body">
                                        <form class = "form-horizontal" action = "" method = "post" enctype = "multipart/form-data">
                                            {% csrf_token %}
                                            {% for field in form %}
                                                <div class = "form-group-md">
                                                    <span class = "text-danger small"> {{ field.errors }}</span>

                                                    <div class="row">
                                                        <label class="control-label col-md-4 text-left">{{ field.label_tag }}</label>
                                                        <div class="col-md-8 text-left" id="select-list">
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class = "form-group">
{#                                                <div class = "col-sm-offset-6 col-sm-6">#}
                                                    <button href="#table-page" type = "submit" class = "nav-link btn btn-info btn-success" id="chance-button"> Chance Me! </button>
{#                                                </div>#}
                                            </div>
                                        </form>
                                    </div>
                              </div>
                    </div>
                </div>
            </div>

                    <a href="#table-page" class="nav-link btn btn-info" role="button" id="chance-button">Chance me!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="table-page">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    Table
                    <a href="#form-page" class="nav-link btn btn-info" role="button" id="again-button">Again?</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kenny Huynh 2017</p>
        </div> 
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/calculator/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/calculator/vendor/popper/popper.min.js"></script>
    <script src="../../static/calculator/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../static/calculator/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../../static/calculator/js/scrolling-nav.js"></script>

</body>

</html>
