<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href = "https://fonts.googleapis.com/css?family=Cinzel" rel = "stylesheet" type = "text/css">
{#    <link rel = "stylesheet" type = "text/css" href = "{% static 'chancemeuci/../../../static/style.css' %}" />#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container-fluid">
        <div class = "row">
            <div class="col-sm-4 col-sm-offset-0">
              <div class="panel panel-default">
                    <div class = "panel-body">
                        <form class = "form-horizontal" action = "" method = "post" enctype = "multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class = "form-group">
                                    <div class = "col-sm-offset-0 col-sm-0">
                                        <span class = "text-danger small"> {{ field.errors }}</span>
                                    </div>
                                    <label class = "control-label col-sm-offset-1 col-sm-0"> {{ field.label_tag }}</label>
                                    <div class = "col-sm-offset-1 col-sm-0"> {{ field }}</div>
                                </div>
                            {% endfor %}
                            <div class = "form-group">
                                <div class = "col-sm-offset-6 col-sm-6">
                                    <button type = "submit" class = "btn btn-success"> Chance Me! </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>